body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
.main-map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border: 1px solid #ccc;
}
.preview {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 80px;
    height: 80px;
    border: 5px solid #fff;
}
.geo-input-form {
    position: absolute;
    top: 15px;
    right: 15px;
}
.geo-input-form label {
    color: #fff;
}
